# Dependencies
/vendor

# Tests
.phpunit.result.cache
phpunit-output.txt
phpunit-result.txt
phpunit-log.xml
phpunit-ran.txt
stderr.txt
tests/wp-tests-config.php

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE / Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Logs & temp
*.log
*.tmp
.cache/