<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="legacy-endpoints">
			<directory prefix="test-" suffix=".php">./tests/legacy/endpoints/</directory>
		</testsuite>
		<testsuite name="src-core-endpoints">
			<directory prefix="test-" suffix=".php">./tests/src/core/endpoints/</directory>
		</testsuite>
	</testsuites>
</phpunit>
